.mens-container {
    display: flex;
    flex-direction: column;

    .mens-img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;

        .mens-item-container {
            width: 22vw;
            display: flex;
            flex-direction: column;
            height: 350px;
            -webkit-box-align: center;
            align-items: center;
            position: relative;

            #item-img1 {
                background-image: url('../assets/mens/mens1.png');
                @include imgContainer;
            }

            #item-img2 {
                background-image: url('../assets/mens/mens2.png');
                @include imgContainer;
            }

            #item-img3 {
                background-image: url('../assets/mens/mens3.png');
                @include imgContainer;
            }

            #item-img4 {
                background-image: url('../assets/mens/mens4.png');
                @include imgContainer;
            }

            #item-img21 {
                background-image: url('../assets/mens/mens5.png');
                @include imgContainer;
            }

            #item-img22 {
                background-image: url('../assets/mens/mens6.png');
                @include imgContainer;
            }

            .title-container {
                width: 100%;
                height: 5%;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                font-size: 18px;
            }
        }
    }
}