.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .links-container {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media all and (max-width: 480px) and (min-width: 300px) {
            padding: 0;
            font-size: 13px;

        }


        .links {
            padding: 10px 15px;
            cursor: pointer;
            list-style: none;
        }

        .cart-icon-container {
            list-style: none;
            position: relative;
            cursor: pointer;

            .cart-icon {
                width: 24px;
                height: 24px;
            }
        }
    }
}

//cart dropdown visible class