@mixin imgContainer {
    width: 100%;
    height: 95%;
    background-size: cover;
    margin-bottom: 5px;
    background-position: center;

    &:hover {
        opacity: .7;

    }
}

@mixin CustomButton2 {
    width: 80%;
    opacity: 0.8;
    position: absolute;
    top: 255px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 15px;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    cursor: pointer;
    display: none;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 0px 35px;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}


.shop-title-container {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
}