@import './menu';
@import './nav-bar';
@import './shopPage';

body {
    font-family: 'Open Sans Condensed' !important;
    padding: 20px 40px;

    @media all and (max-width: 800px) and (min-width: 300px) {
        padding: 10px;
    }
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}