@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
.menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container a {
  min-width: 33.3%;
}

.menu-container a:nth-child(4),
.menu-container a:nth-child(5) {
  width: 50%;
}

.menu-container .menu-item {
  height: 240px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.menu-container .menu-item:hover {
  cursor: pointer;
}

.menu-container .menu-item:hover .background-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 3s ease-in;
  transition: -webkit-transform 3s ease-in;
  transition: transform 3s ease-in;
  transition: transform 3s ease-in, -webkit-transform 3s ease-in;
}

.menu-container .menu-item:hover .content {
  opacity: 0.9;
}

.menu-container .menu-item.large {
  height: 380px;
}

.menu-container .menu-item:first-child {
  margin-right: 7.5px;
}

.menu-container .menu-item:last-child {
  margin-left: 7.5px;
}

.menu-container .menu-item #hats {
  background-image: url("../assets/hats.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #hats:hover {
  cursor: pointer;
}

.menu-container .menu-item #jackets {
  background-image: url("../assets/jackets.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #jackets:hover {
  cursor: pointer;
}

.menu-container .menu-item #sneakers {
  background-image: url("../assets/sneakers.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #sneakers:hover {
  cursor: pointer;
}

.menu-container .menu-item #womens {
  background-image: url("../assets/womens.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
}

.menu-container .menu-item #womens:hover {
  cursor: pointer;
}

.menu-container .menu-item #men {
  background-image: url("../assets/men.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
}

.menu-container .menu-item #men:hover {
  cursor: pointer;
}

.menu-container .menu-item .content {
  height: 90px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}

.menu-container .menu-item .content .title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
}

.menu-container .menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}

.navbar {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.navbar .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.navbar .links-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .links-container .links {
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
}

.navbar .links-container .cart-icon-container {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.navbar .links-container .cart-icon-container .cart-icon {
  width: 24px;
  height: 24px;
}

.shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-container .collection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.shop-container .collection-container .collection-title-container {
  font-size: 28px;
  margin-bottom: 25px;
  cursor: pointer;
}

.shop-container .collection-container .collections-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.shop-container .collection-container .collections-img-container .item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.shop-container .collection-container .collections-img-container .item-container #item-img1 {
  background-image: url("../assets/mens/mens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img2 {
  background-image: url("../assets/mens/mens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img3 {
  background-image: url("../assets/mens/mens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img4 {
  background-image: url("../assets/mens/mens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img5 {
  background-image: url("../assets/womens/womens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img6 {
  background-image: url("../assets/womens/womens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img7 {
  background-image: url("../assets/womens/womens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img8 {
  background-image: url("../assets/womens/womens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img9 {
  background-image: url("../assets/sneakers/sneakers1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img10 {
  background-image: url("../assets/sneakers/sneakers2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img11 {
  background-image: url("../assets/sneakers/sneakers3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img12 {
  background-image: url("../assets/sneakers/sneakers4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img13 {
  background-image: url("../assets/jackets/jacket1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img14 {
  background-image: url("../assets/jackets/jacket2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img15 {
  background-image: url("../assets/jackets/jacket3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img16 {
  background-image: url("../assets/jackets/jacket4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img17 {
  background-image: url("../assets/hats/hat1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img18 {
  background-image: url("../assets/hats/hat2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img19 {
  background-image: url("../assets/hats/hat3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img20 {
  background-image: url("../assets/hats/hat4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

.mens-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mens-container .mens-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.mens-container .mens-img-container .mens-item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.mens-container .mens-img-container .mens-item-container #item-img1 {
  background-image: url("../assets/mens/mens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img2 {
  background-image: url("../assets/mens/mens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img3 {
  background-image: url("../assets/mens/mens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img4 {
  background-image: url("../assets/mens/mens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img21 {
  background-image: url("../assets/mens/mens5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img22 {
  background-image: url("../assets/mens/mens6.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

.sign-in-sign-up {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

.sign-in-sign-up .sign-in {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-sign-up .sign-in .input-container {
  position: relative;
  margin: 45px;
}

.sign-in-sign-up .sign-in .input-container #email {
  color: grey;
  font-size: 18px;
  display: block;
  width: 100%;
  border-top-width: initial;
  border-right-width: initial;
  border-left-width: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  background: none white;
  padding: 10px 10px 10px 5px;
  border-style: none none solid;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 0px;
  border-bottom: 1px solid grey;
  margin: 25px 0px;
}

body {
  font-family: "Open Sans Condensed" !important;
  padding: 20px 40px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  body {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */