@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
.menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container a {
  min-width: 33.3%;
}

.menu-container a:nth-child(4),
.menu-container a:nth-child(5) {
  width: 50%;
}

.menu-container .menu-item {
  height: 240px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.menu-container .menu-item:hover {
  cursor: pointer;
}

.menu-container .menu-item:hover .background-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 3s ease-in;
  transition: -webkit-transform 3s ease-in;
  transition: transform 3s ease-in;
  transition: transform 3s ease-in, -webkit-transform 3s ease-in;
}

.menu-container .menu-item:hover .content {
  opacity: 0.9;
}

.menu-container .menu-item.large {
  height: 380px;
}

.menu-container .menu-item:first-child {
  margin-right: 7.5px;
}

.menu-container .menu-item:last-child {
  margin-left: 7.5px;
}

.menu-container .menu-item #hats {
  background-image: url("../assets/hats.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #hats:hover {
  cursor: pointer;
}

.menu-container .menu-item #jackets {
  background-image: url("../assets/jackets.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #jackets:hover {
  cursor: pointer;
}

.menu-container .menu-item #sneakers {
  background-image: url("../assets/sneakers.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .menu-item #sneakers:hover {
  cursor: pointer;
}

.menu-container .menu-item #womens {
  background-image: url("../assets/womens.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
}

.menu-container .menu-item #womens:hover {
  cursor: pointer;
}

.menu-container .menu-item #men {
  background-image: url("../assets/men.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
}

.menu-container .menu-item #men:hover {
  cursor: pointer;
}

.menu-container .menu-item .content {
  height: 90px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}

.menu-container .menu-item .content .title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
}

.menu-container .menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}

.navbar {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.navbar .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.navbar .links-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .links-container .links {
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
}

.navbar .links-container .cart-icon-container {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.navbar .links-container .cart-icon-container .cart-icon {
  width: 24px;
  height: 24px;
}

.navbar .cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.navbar .cart-dropdown .cart-items {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.navbar .cart-dropdown .cart-button {
  margin-top: auto;
  min-width: 198px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.navbar .cart-dropdown .cart-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.navbar .cart-dropdown .cart-button:active {
  outline: none;
}

.navbar .visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-container .collection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.shop-container .collection-container .collection-title-container {
  font-size: 28px;
  margin-bottom: 25px;
  cursor: pointer;
}

.shop-container .collection-container .collections-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-container .collection-container .collections-img-container .item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.shop-container .collection-container .collections-img-container .item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.shop-container .collection-container .collections-img-container .item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  padding: 0px 35px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.shop-container .collection-container .collections-img-container .item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

.shop-container .collection-container .collections-img-container .item-container #item-img1 {
  background-image: url("../assets/mens/mens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img1:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img2 {
  background-image: url("../assets/mens/mens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img2:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img3 {
  background-image: url("../assets/mens/mens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img3:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img4 {
  background-image: url("../assets/mens/mens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img4:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img5 {
  background-image: url("../assets/womens/womens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img5:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img6 {
  background-image: url("../assets/womens/womens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img6:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img7 {
  background-image: url("../assets/womens/womens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img7:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img8 {
  background-image: url("../assets/womens/womens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img8:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img9 {
  background-image: url("../assets/sneakers/sneakers1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img9:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img10 {
  background-image: url("../assets/sneakers/sneakers2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img10:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img11 {
  background-image: url("../assets/sneakers/sneakers3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img11:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img12 {
  background-image: url("../assets/sneakers/sneakers4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img12:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img13 {
  background-image: url("../assets/jackets/jacket1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img13:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img14 {
  background-image: url("../assets/jackets/jacket2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img14:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img15 {
  background-image: url("../assets/jackets/jacket3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img15:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img16 {
  background-image: url("../assets/jackets/jacket4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img16:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img17 {
  background-image: url("../assets/hats/hat1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img17:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img18 {
  background-image: url("../assets/hats/hat2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img18:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img19 {
  background-image: url("../assets/hats/hat3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img19:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container #item-img20 {
  background-image: url("../assets/hats/hat4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.shop-container .collection-container .collections-img-container .item-container #item-img20:hover {
  opacity: .7;
}

.shop-container .collection-container .collections-img-container .item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

.mens-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mens-container .mens-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.mens-container .mens-img-container .mens-item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.mens-container .mens-img-container .mens-item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.mens-container .mens-img-container .mens-item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  padding: 0px 35px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.mens-container .mens-img-container .mens-item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

.mens-container .mens-img-container .mens-item-container #item-img1 {
  background-image: url("../assets/mens/mens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img1:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container #item-img2 {
  background-image: url("../assets/mens/mens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img2:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container #item-img3 {
  background-image: url("../assets/mens/mens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img3:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container #item-img4 {
  background-image: url("../assets/mens/mens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img4:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container #item-img21 {
  background-image: url("../assets/mens/mens5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img21:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container #item-img22 {
  background-image: url("../assets/mens/mens6.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.mens-container .mens-img-container .mens-item-container #item-img22:hover {
  opacity: .7;
}

.mens-container .mens-img-container .mens-item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

.womens-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.womens-container .womens-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.womens-container .womens-img-container .womens-item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.womens-container .womens-img-container .womens-item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.womens-container .womens-img-container .womens-item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  padding: 0px 35px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.womens-container .womens-img-container .womens-item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

.womens-container .womens-img-container .womens-item-container #item-img5 {
  background-image: url("../assets/womens/womens1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img5:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img6 {
  background-image: url("../assets/womens/womens2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img6:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img7 {
  background-image: url("../assets/womens/womens3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img7:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img8 {
  background-image: url("../assets/womens/womens4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img8:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img23 {
  background-image: url("../assets/womens/womens5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img23:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img24 {
  background-image: url("../assets/womens/women6.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img24:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container #item-img25 {
  background-image: url("../assets/womens/women7.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.womens-container .womens-img-container .womens-item-container #item-img25:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

.sign-in-sign-up {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

.sign-in-sign-up .sign-in {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-sign-up .sign-in .input-container {
  position: relative;
  margin: 45px 0;
}

.sign-in-sign-up .sign-in .input-container #email {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-in .input-container #email:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.sign-in-sign-up .sign-in .input-container #password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-in .input-container #password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-in .input-container .email-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-in .input-container .password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-in .input-container .shrink1 {
  top: -14px;
  font-size: 12px;
  color: black;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button:active {
  outline: none;
}

.sign-in-sign-up .sign-up {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-sign-up .sign-up .input-container {
  position: relative;
  margin: 45px 0;
}

.sign-in-sign-up .sign-up .input-container #name {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #name:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #sign-up-email {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #sign-up-email:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.sign-in-sign-up .sign-up .input-container #sign-up-password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #sign-up-password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #conf-password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #conf-password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container .name-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .sign-up-email-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .sign-up-password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .conf-password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .shrink1 {
  top: -14px;
  font-size: 12px;
  color: black;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button:active {
  outline: none;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-container .item-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.item-container .item-img-container .item-container {
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.item-container .item-img-container .item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.item-container .item-img-container .item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  padding: 0px 35px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.item-container .item-img-container .item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

.item-container .item-img-container .item-container #item-img17 {
  background-image: url("../assets/hats/hat1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img17:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img18 {
  background-image: url("../assets/hats/hat2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img18:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img19 {
  background-image: url("../assets/hats/hat3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img19:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img20 {
  background-image: url("../assets/hats/hat4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img20:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img26 {
  background-image: url("../assets/hats/hat5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img26:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img27 {
  background-image: url("../assets/hats/hat6.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img27:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img28 {
  background-image: url("../assets/hats/hat7.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img28:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img29 {
  background-image: url("../assets/hats/hat8.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img29:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img30 {
  background-image: url("../assets/hats/hat9.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img30:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img9 {
  background-image: url("../assets/sneakers/sneakers1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img9:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img10 {
  background-image: url("../assets/sneakers/sneakers2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img10:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img11 {
  background-image: url("../assets/sneakers/sneakers3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img11:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img12 {
  background-image: url("../assets/sneakers/sneakers4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img12:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img31 {
  background-image: url("../assets/sneakers/sneakers5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img31:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img32 {
  background-image: url("../assets/sneakers/sneakers6.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img32:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img33 {
  background-image: url("../assets/sneakers/sneakers7.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img33:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img34 {
  background-image: url("../assets/sneakers/sneakers8.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img34:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img13 {
  background-image: url("../assets/jackets/jacket1.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img13:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img14 {
  background-image: url("../assets/jackets/jacket2.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img14:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img15 {
  background-image: url("../assets/jackets/jacket3.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img15:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img16 {
  background-image: url("../assets/jackets/jacket4.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img16:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container #item-img35 {
  background-image: url("../assets/jackets/jackets5.png");
  width: 100%;
  height: 95%;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.item-container .item-img-container .item-container #item-img35:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

body {
  font-family: "Open Sans Condensed" !important;
  padding: 20px 40px;
  margin: 0;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  body {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */