@import "./menu";
@import "./nav-bar";
@import "./shopPage";
@import "./mens";
@import "./sign-in-sign-up";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

body {
  font-family: "Open Sans Condensed" !important;
  padding: 20px 40px;
  margin: 0;

  @media all and (max-width: 800px) and (min-width: 300px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}