@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 500px) and (min-width: 250px) {
  .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-container a {
  min-width: 33.3%;
}

.menu-container a .menu-item {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  -o-border-image: initial;
     border-image: initial;
  margin: 0px 7.5px 15px;
  overflow: hidden;
}

.menu-container a .menu-item:hover {
  cursor: pointer;
}

.menu-container a .menu-item:hover .background-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 3s ease-in;
  transition: -webkit-transform 3s ease-in;
  transition: transform 3s ease-in;
  transition: transform 3s ease-in, -webkit-transform 3s ease-in;
}

.menu-container a .menu-item:hover .content {
  opacity: 0.9;
}

.menu-container a .menu-item.large {
  height: 380px;
}

@media all and (max-width: 500px) and (min-width: 250px) {
  .menu-container a .menu-item.large {
    height: 200px;
  }
}

.menu-container a .menu-item:first-child {
  margin-right: 7.5px;
}

.menu-container a .menu-item:last-child {
  margin-left: 7.5px;
}

.menu-container a .menu-item #sneakers {
  background-image: url("../assets/sneakers.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container a .menu-item #sneakers:hover {
  cursor: pointer;
}

.menu-container a .menu-item #womens {
  background-image: url("../assets/womens.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container a .menu-item #womens:hover {
  cursor: pointer;
}

.menu-container a .menu-item #men {
  background-image: url("../assets/men.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container a .menu-item #men:hover {
  cursor: pointer;
}

.menu-container a .menu-item #jackets {
  background-image: url("../assets/jackets.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container a .menu-item #jackets:hover {
  cursor: pointer;
}

.menu-container a .menu-item #hats {
  background-image: url("../assets/hats.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container a .menu-item #hats:hover {
  cursor: pointer;
}

.menu-container a .content {
  height: 90px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}

@media all and (max-width: 480px) and (min-width: 280px) {
  .menu-container a .content {
    padding: 0 10px;
  }
}

.menu-container a .content .title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
}

@media all and (max-width: 480px) and (min-width: 280px) {
  .menu-container a .content .title {
    font-size: 20px;
  }
}

.menu-container a .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}

.menu-container a:nth-child(4),
.menu-container a:nth-child(5) {
  width: 50%;
}

@media all and (max-width: 500px) and (min-width: 250px) {
  .menu-container a:nth-child(4),
  .menu-container a:nth-child(5) {
    width: 100%;
  }
}

.navbar {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.navbar .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.navbar .links-container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 480px) and (min-width: 300px) {
  .navbar .links-container {
    padding: 0;
    font-size: 13px;
  }
}

.navbar .links-container .links {
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
}

.navbar .links-container .cart-icon-container {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.navbar .links-container .cart-icon-container .cart-icon {
  width: 24px;
  height: 24px;
}

.shop-title-container {
  font-size: 28px;
  margin-bottom: 25px;
  cursor: pointer;
}

.womens-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .womens-container .shop-title-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.womens-container .womens-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .womens-container .womens-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-left: 16px;
    grid-gap: 3px;
  }
}

.womens-container .womens-img-container .womens-item-container {
  width: 22vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.womens-container .womens-img-container .womens-item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.womens-container .womens-img-container .womens-item-container .img {
  width: 100%;
  height: 93%;
  margin-bottom: 5px;
}

.womens-container .womens-img-container .womens-item-container .img:hover {
  opacity: .7;
}

.womens-container .womens-img-container .womens-item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.womens-container .womens-img-container .womens-item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

@media all and (max-width: 500px) and (min-width: 300px) {
  .womens-container .womens-img-container .womens-item-container .custom-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.womens-container .womens-img-container .womens-item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .womens-container .womens-img-container .womens-item-container {
    margin: auto;
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    margin-bottom: 30px;
  }
}

.sign-in-sign-up {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .sign-in-sign-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: unset;
  }
}

.sign-in-sign-up .sign-in {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .sign-in-sign-up .sign-in {
    width: unset;
  }
}

.sign-in-sign-up .sign-in .input-container {
  position: relative;
  margin: 45px 0;
}

.sign-in-sign-up .sign-in .input-container #email {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-in .input-container #email:focus {
  outline: none;
}

.sign-in-sign-up .sign-in .input-container #email:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.sign-in-sign-up .sign-in .input-container #password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-in .input-container #password:focus {
  outline: none;
}

.sign-in-sign-up .sign-in .input-container #password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-in .input-container .email-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-in .input-container .password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-in .input-container .shrink1 {
  top: -14px;
  font-size: 12px;
  color: black;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.sign-in-sign-up .sign-in .button-container .sign-in-button:active {
  outline: none;
}

.sign-in-sign-up .sign-up {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .sign-in-sign-up .sign-up {
    width: unset;
  }
}

.sign-in-sign-up .sign-up .input-container {
  position: relative;
  margin: 45px 0;
}

.sign-in-sign-up .sign-up .input-container #name {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #name:focus {
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #name:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #sign-up-email {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #sign-up-email:focus {
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #sign-up-email:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.sign-in-sign-up .sign-up .input-container #sign-up-password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #sign-up-password:focus {
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #sign-up-password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #conf-password {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.sign-in-sign-up .sign-up .input-container #conf-password:focus {
  outline: none;
}

.sign-in-sign-up .sign-up .input-container #conf-password:focus {
  border-bottom: 2px solid grey;
  outline: none;
}

.sign-in-sign-up .sign-up .input-container .name-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .sign-up-email-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .sign-up-password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .conf-password-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.sign-in-sign-up .sign-up .input-container .shrink1 {
  top: -14px;
  font-size: 12px;
  color: black;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.sign-in-sign-up .sign-up .button-container .sign-in-button:active {
  outline: none;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .item-container .shop-title-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.item-container .item-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .item-container .item-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-left: 16px;
    grid-gap: 3px;
  }
}

.item-container .item-img-container .item-container {
  margin: auto;
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.item-container .item-img-container .item-container:hover .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.item-container .item-img-container .item-container .custom-btn {
  width: 80%;
  opacity: 0.8;
  position: absolute;
  top: 255px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.item-container .item-img-container .item-container .custom-btn:hover {
  background-color: black;
  color: white;
}

@media all and (max-width: 500px) and (min-width: 300px) {
  .item-container .item-img-container .item-container .custom-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .item-container .item-img-container .item-container .custom-btn {
    font-size: 12px;
    padding: 0;
  }
}

.item-container .item-img-container .item-container .img {
  width: 100%;
  height: 93%;
  margin-bottom: 5px;
}

.item-container .item-img-container .item-container .img:hover {
  opacity: .7;
}

.item-container .item-img-container .item-container .title-container {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 18px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .item-container .item-img-container .item-container {
    margin: auto;
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    margin-bottom: 30px;
  }
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 700px) and (min-width: 200px) {
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-container .add-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

@media all and (max-width: 500px) and (min-width: 200px) {
  .form-container .add-product-container {
    width: 100%;
  }
}

.form-container .add-product-container h1 {
  text-align: center;
}

.form-container .add-product-container .add-product-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container .add-product-container .add-product-form:last-child {
  margin-right: 0;
}

.form-container .add-product-container .add-product-form .add-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.form-container .add-product-container .add-product-form .add-input-container .add-label {
  margin-right: 10px;
  font-size: 24px;
}

.form-container .add-product-container .add-product-form .add-input-container .inputs {
  width: 100%;
}

.form-container .add-product-container .add-product-form .add-input-container .input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
  padding: 0;
  margin: 6px 0 0 0;
  width: 90%;
}

.form-container .add-product-container .add-product-form .add-input-container .input:focus {
  outline: none;
}

.form-container .add-product-container .add-product-form .add-button {
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed';
  border: none;
  cursor: pointer;
  width: 250px;
  margin: 0 auto;
}

.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 50px auto 0px;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container {
    width: 90%;
  }
}

.checkout-container .checkout-titles {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}

.checkout-container .checkout-titles .product {
  width: 23%;
  padding-left: 10px;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container .checkout-titles .product {
    width: 22%;
  }
}

.checkout-container .checkout-titles .description {
  padding-left: 10px;
  width: 23%;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container .checkout-titles .description {
    width: 22%;
  }
}

.checkout-container .checkout-titles .quantity {
  padding-left: 10px;
  width: 23%;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container .checkout-titles .quantity {
    width: 22%;
  }
}

.checkout-container .checkout-titles .price {
  padding-left: 10px;
  width: 23%;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container .checkout-titles .price {
    width: 22%;
  }
}

.checkout-container .checkout-titles .remove {
  padding-left: 10px;
  width: 8%;
}

@media (max-width: 800px) and (min-width: 300px) {
  .checkout-container .checkout-titles .remove {
    width: 12%;
  }
}

.checkout-container .checkout-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  height: auto;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0px;
}

.checkout-container .total-container {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}

.checkout-container #paypal-button-container {
  margin-left: auto;
  width: auto !important;
  z-index: 1;
}

.cod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.cod .cod-btn {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  width: 150px;
  min-width: unset;
  font-size: 13px;
  letter-spacing: .4px;
}

.cod .cod-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cod .cod-btn:active {
  outline: none;
}

.popup-container {
  z-index: 99;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.popup-container .form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-container .form-container form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-container .form-container form .input-container input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.popup-container .form-container form .input-container input:focus {
  outline: none;
}

.popup-container .form-container form .input-container textarea {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.popup-container .form-container form .input-container textarea:focus {
  outline: none;
}

.popup-container .form-container form .input-container .checkout-submit {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.popup-container .form-container form .input-container .checkout-submit:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.popup-container .form-container form .input-container .checkout-submit:active {
  outline: none;
}

body {
  font-family: "Open Sans Condensed" !important;
  padding: 20px 40px;
  margin: 0;
}

@media all and (max-width: 800px) and (min-width: 300px) {
  body {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */